.container {
    header {
        height: 40px;
        width: 100%;
        line-height: 40px;
        background: rgba(225, 232, 238, 1);
        border-top: 1px solid rgba(208, 214, 219, 1);
        border-bottom: 1px solid rgba(208, 214, 219, 1);

        img,
        span {
            display: inline-block;
            vertical-align: middle;
        }

        img {
            margin: 0 4px 0 18px;
        }

        span {
            color: #616976;
            font-size: 18px;
            font-weight: 500;
        }
    }
}
