.container {
    margin: 0 0 8px 0;

    .label {
        width: 80px;
        display: inline-block;
    }

    .textarea {
        outline: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: none;
        vertical-align: top;
        width: 300px;
        height: 200px;
    }
}

.config {
    .item {
        .label {
            width: 100px;
            display: inline-block;
            margin: 0 0 8px 0;
        }

        .input {
            outline: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 0 0 0 4px;
        }
    }
}
