.container {
    background: #fff;
    border: 1px solid #d9dee2;
    box-shadow: 0px 0px 32px rgba(136, 152, 170, 0.15);
    border-radius: 6px;
    overflow: hidden;

    header {
        height: 40px;
        width: 140px;
        line-height: 40px;
        text-align: center;
        background: rgba(85, 174, 240, 1);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 6px 0px 20px 0px;
        color: #fff;

        span {
            display: inline-block;
            vertical-align: middle;
        }

        span {
            font-size: 16px;
            font-weight: 500;
        }
    }
}
