.container {
    display: inline-block;

    .lineFeed {
        display: block;
    }

    .required {
        color: #ff0000;
        margin-right: 2px;
        vertical-align: middle;
    }

    .label {
        font-size: 15px;
        margin: 0 0 4px 0;
        display: inline-block;
    }

    .lineFeedLabel {
        margin: 0;
    }

    .input {
        color: #20252b;
        font-size: 14px;
        height: 36px;
    }
}
