<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/jsbarcode/3.8.0/JsBarcode.all.min.js"></script>
    <style>
        * {margin: 0;padding: 0;box-sizing: border-box;}
        h3 {text-align: left;font-size: 16px;margin: 10px;}
        .box {text-align: left;}
        #barcode {width: 500px;}
    </style>
  </head> 
  <body>
      <div class="box">
          <img id="barcode" />
      </div>
  </body>
  <script>
      var barcode = document.getElementById('barcode'),
          str = "2019-00001-A",  // todo
          options = {
              format: "CODE128",
              displayValue: true,
              fontSize: 18,
              height: 100
          };
      JsBarcode(barcode, str, options);
  </script>
</html>