.container {
    display: inline-block;

    .label {
        color: #62707c;
        font-size: 15px;
        margin: 0 0 4px 0;
        display: inline-block;
    }

    .lineFeed {
        display: block;
    }

    input {
        height: 36px;
        padding: 0 8px;
        color: #20252b;
    }
}
