.detail {
    position: absolute;
    top: 7px;
    left: 10px;
    bottom: 7px;
    right: 10px;
    background: #fff;
    display: flex;
    border-radius: 4px;
    z-index: 3;

    .list {
        position: relative;
        margin-bottom: 0;
        overflow: hidden;
        padding-left: 0;
        z-index: 2;
        height: 46px;
        li {
            height: 40px;
            width: 140px;
            margin-right: 8px;
            font-size: 16px;
            line-height: 40px;
            color: rgba(51, 60, 72, 0.61);
            float: left;
            border: solid 1px #e7e9ed;
            text-align: center;
            border-radius: 4px 4px 0 0;
            border-bottom: none;
            margin-top: 6px;
            cursor: pointer;
        }
        .cur {
            margin-top: 0;
            height: 46px;
            color: #333c48;
            font-size: 18px;
            font-weight: 600;
            background: #fafbfc;
            line-height: 46px;
        }
    }
    .content {
        border-radius: 0 4px 4px 4px;
        background: #fafbfc;
        border: solid 1px #e7e9ed;
        position: absolute;
        top: 45px;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
