.outerbg {
    height: 100%;
    width: 100%;
    position: relative;
    .updateBtn {
        width: 70px;
        height: 24px;
        line-height: 24px;
        background: rgba(11, 148, 252, 1);
        border-radius: 4px;
        font-size: 14px;
        color: white;
        display: inline-block;
        text-align: center;
        cursor: pointer;
    }
    .dot {
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 4px;
    }
    .delete{
        width: 42px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        color: #fff;
        background: #F25B24;
        border-radius: 4px;
        display: inline-block;
        cursor: pointer;
    }
    .disable{
        background: #CDD0CF;
        cursor: not-allowed;
    }
    .detail {
        bottom: -5px;
        position: absolute;
        left: -10px;
        right: -10px;
        background: #fff;
        top: -53px;
        z-index: 3;
    }
}
