.container {
    position: relative;
    border: 1px solid #DADEE2;

    :global {
        .ant-table-thead
            > tr.ant-table-row-hover:not(.ant-table-expanded-row)
            > td,
        .ant-table-tbody
            > tr.ant-table-row-hover:not(.ant-table-expanded-row)
            > td,
        .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
        .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
            background: #d8e4ed !important;
        }
        .ant-table-thead > tr:first-child > th:first-child,
        .ant-table-thead > tr:first-child > th:last-child {
            border-radius: 0 !important;
        }
        .ant-table-fixed-header .ant-table-scroll .ant-table-header,
        .ant-table-header {
            background: #eaeef2;
        }
        /* 处理 expand 行对齐问题 */
        .ant-table-row-expand-icon + div {
            width: calc(100% - 25px);
            vertical-align: top;
        }
        .ant-table-row-spaced + div {
            width: calc(100% - 37px);
            vertical-align: top;
            padding-top: 12px;
            padding-bottom: 12px;
        }
        /* checkbox 样式调整，UI 同学说要距离后面的元素近一点 */
        .ant-table-selection-col {
            width: 20px !important;
        }
        .ant-table-selection-column {
            padding-right: 0 !important;
        }
    }

    .table {
        thead > tr > th {
            background: #eaeef2;
            color: #434343;
            font-size: 15px;
            font-weight: 550;
           /*  border-top: 1px solid #dadee2; */
        }

        tbody > tr > td {
            color: #3d3e3f;
            font-size: 14px;
        }

        tr > th,
        tr > td {
            height: 48px;
            padding: 0 16px;
        }

        tr:hover > td {
            background: #d8e4ed !important;
        }

        .lightRow {
            background: white;
        }

        .darkRow {
            background: rgba(248, 248, 248, 1);
        }

        .count {
            line-height: 18px;
            background: #65cdec;
            border: 1px solid rgba(222, 227, 230, 0.61);
            border-radius: 12px;
            color: white;
            font-size: 14px;
            display: inline-block;
            margin: 0 0 0 4px;
            padding: 0 12px;
        }
    }

    .statistics {
        position: absolute;
        height: 64px;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
    }
}

.noBorder {
    border: none;

    :global {
        .ant-table-tbody > tr > td {
            border: none;
        }
    }
}
