.container {
    display: inline-block;

    .lineFeed {
        display: block;
    }

    .label {
        color: #62707c;
        font-size: 15px;
        margin: 0 0 4px 0;
        display: inline-block;
    }

    .select {
        color: #20252b;
        font-size: 14px;
        height: 36px;

        div {
            height: 36px;
            line-height: 35px;
        }
    }
}
