.container {
    position: absolute;
    top: 10px;
    bottom: 20px;
    right: 0;
    left: 0;
    overflow: auto;
    .inputs {
        display: flex;
        width: calc(100% - 17px);
        .left {
            width: 25%;
        }
        .right {
            flex: 1;
        }
    }
    .sample {
        margin: 32px 17px 10px;
        border: solid 1px #dadee2;
        border-radius: 4px;
        .title {
            font-size: 18px;
            color: #62707c;
            padding-left: 15px;
            font-weight: 600;
            border-bottom: solid 1px #dadee2;
            line-height: 40px;
        }
        .seen {
            padding: 5px 16px;
            overflow: hidden;
            height: 95px;
            color: #79858f;
        }
    }
    .bottom {
        border: solid 1px #e0e5e8;
        margin: 0 17px;
        border-radius: 4px;
        position: relative;
        border-bottom: none;
        .list {
            overflow: hidden;
            height: 56px;
            position: relative;
            h3 {
                float: left;
                line-height: 54px;
                font-size: 20px;
                color: #616976;
                font-weight: 600;
                padding-left: 49px;
                background: url('./img/list.svg') no-repeat 20px center;
                background-size: 20px;
                margin-bottom: 0;
            }
        }

        .dot {
            width: 12px;
            height: 12px;
            display: inline-block;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 4px;
        }
    }
}
::-webkit-scrollbar {
    width: 3px;
    background: #fff;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #b1b1b1;
}
