.container {
    width: 100%;
    height: 80px;
    position: relative;

    .titleWrap {
        height: 100%;
        width: 50%;
        padding: 0 0 0 22px;
        float: left;
        display: flex;
        align-items: center;

        span {
            font-size: 20px;
            color: white;
            line-height: 20px;
            margin: -4px 0 0 9px;
        }
    }

    .userWrap {
        width: 228px;
        height: 36px;
        background: rgba(34, 44, 60, 1);
        border: 1px solid rgba(49, 61, 79, 1);
        position: relative;
        border-radius: 4px;
        float: right;
        margin: 22px 14px 0 0;
        padding: 0 0 0 23px;
        display: flex;
        align-items: center;

        .userName {
            font-size: 16px;
            line-height: 19px;
            color: rgba(6, 170, 246, 1);
        }

        .icon {
            width: 20px;
            height: 20px;
            background: rgba(34, 44, 60, 1);
            border: 1px solid rgba(112, 112, 112, 1);
            border-radius: 50%;
            opacity: 1;
            display: inline-block;
            position: absolute;
            right: 13px;
            cursor: pointer;
        }

        .icon::before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            top: 4px;
            left: 5px;
            border-left: 1px solid white;
            border-bottom: 1px solid white;
            transform: rotate(-45deg);
        }

        .logout {
            width: 100%;
            height: 36px;
            line-height: 36px;
            font-size: 14px;
            color: #20252b;
            padding: 0 0 0 10px;
            border: 1px solid rgba(208, 214, 219, 1);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
            border-radius: 4px;
            background: white;
            position: absolute;
            right: 0px;
            top: 39px;
            z-index: 200;
            cursor: pointer;
        }
    }
}
