.technology{
    width: calc(100% - 28px);
    height: calc(100% - 12px);
    margin:6px 14px;
    

    .list{
        width: 100%;
        height: 100%;
        border-radius:6px;

        .listHeader{
            height: 54px;
            border:1px solid rgba(218,222,226,1);
            border-bottom:none;
            border-radius:4px 4px 0 0;
            background-color: #fff;
            .fl{
                float:left;
                color:#616976;
                font-size:18px;
                height: 54px;
                line-height: 54px;
                font-weight:600;
                padding-left:40px;
                background:url("./imgs/list.svg") no-repeat 16px center;
            }
            .fr{
                float:right;
                height: 54px;
                display:flex;
                align-items:center;
                color:#575757;
                font-size:14px;
                padding-right:10px;

                .addBtn{
                    width:86px;
                    height:36px;
                    background:rgba(11,148,252,1);
                    border-radius:4px;
                    border:none;
                    color:#fff;
                    cursor: pointer;
                }

                .addBtn:disabled{
                    border:1px solid rgba(217,219,221,1);
                    background:linear-gradient(180deg,rgba(225,232,238,1) 0%,rgba(229,229,229,1) 100%);
                    color:#A8A8A8; 
                    cursor:not-allowed;
                }

                .inputNum{
                    width:68px;
                    height:36px;
                    background:rgba(255,255,255,1);
                    border:1px solid rgba(222,227,230,1);
                    border-radius:4px;
                    margin-right:15px;
                    padding-left:10px;

                    &:hover{
                        border-color: #40a9ff;
                    }
                    &:focus{
                        border-color: #40a9ff;
                        border-right-width: 1px !important;
                        outline: 0;
                        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
                    }
                }
            }
        }

        .sendBtn{
            width:91px;
            height:36px;
            border:1px solid rgba(21,133,216,1);
            background:linear-gradient(360deg,rgba(25,145,235,1) 0%,rgba(46,161,248,1) 100%);
            border-radius:4px;
            color:#fff;
            float: right;
            margin-top:17px;
            cursor: pointer;            
        }
        .sendBtn:disabled{
            border:1px solid rgba(217,219,221,1);
            background:linear-gradient(180deg,rgba(225,232,238,1) 0%,rgba(229,229,229,1) 100%);
            color:#A8A8A8; 
            cursor:not-allowed;   
        }
    }

}
.state{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #F4BB00;
    border-radius: 50%;
    margin-right: 4px;
    vertical-align: middle;
}
.actionBtn{
    width:44px;
    height:24px;
    background:rgba(242,91,36,1);
    border-radius:4px;
    border:none;
    color:#fff;
    cursor: pointer;
}
.actionBtn:disabled{
    background-color: #CDD0CF;
    cursor:not-allowed;
}
