.editInput{
    width:100%;
    height:30px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(208,208,208,1);
    border-radius:4px;
    padding-left:13px;
    &:disabled{
        background:rgba(0,0,0,0);
        border:none;
        padding-left:0;
    }
}