.fix{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index:99;
    display: flex;
    align-items: center;
    justify-content: center;

    .addSampleDialog {
        width: 480px;
        background: rgba(255, 255, 255, 0.95);
        border: 1px solid rgba(223, 227, 233, 1);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 6px;

        .addSampleHeader {
            width: 100%;
            height: 48px;
            line-height: 48px;
            background: linear-gradient(
                180deg,
                rgba(0, 148, 244, 1) 0%,
                rgba(85, 112, 234, 1) 100%
            );
            position: relative;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;

            span {
                color: white;
                font-size: 16px;
                margin: 0 0 0 22px;
                font-weight: 600;
            }

            .close {
                width: 20px;
                height: 20px;
                position: absolute;
                right: 18px;
                top: 14px;
                cursor: pointer;
            }
        }
        .addSampleContent {
            display: flex;
            justify-content: center;
            flex-direction: column;

            .row {
                display: block;
                margin: 0 0 10px 0;
            }
        }
        .footer {
            width: 100%;
            height: 54px;
            line-height: 54px;
            background: rgba(239, 239, 239, 1);
            border-radius: 0px 0px 6px 6px;

            .addSamplebtnGroup {
                float: right;

                span {
                    width: 60px;
                    height: 30px;
                    line-height: 30px;
                    background: rgba(183, 183, 183, 1);
                    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11);
                    border-radius: 4px;
                    display: inline-block;
                    text-align: center;
                    margin-right: 12px;
                    color: white;
                    cursor:not-allowed;
                }
                
                .cancelAdd {
                    background: #fff;
                    border: 1px solid rgba(209, 209, 209, 1);
                    color: #3d3e3f;
                    cursor: pointer;
                }
                
                .canAddSample {
                    background: #2dce89;
                    cursor: pointer;
                }
            }
        }
    }
}