.reg{
    width:100%;
    position: relative;
    .regbox{
        width: calc(100% - 280px);
        float: left;
    }
    .words{
        width: 280px;
        height: calc(100% - 439px);
        max-height:623px;
        /* float: right;
        height: 625px;*/
        border: 1px solid rgba(223,227,233,1);
        border-radius: 4px; 
        position:fixed;
        right:16px;
    }
    .text-box{
        margin-bottom:10px;
        font-size:16px;
        .title{
            color:#434343;
            font-weight:600;
            vertical-align: top;
            width: 80px;
            text-align:right;
            display: inline-block;
            height: 100%;
            p{
                width: 100%;
                text-align: center;
                display: inline-block;
                color:#2197EF;
                font-weight:normal;
                font-size:14px;
                padding-top:5px;
                padding-right:10px;
                cursor: pointer;
                overflow: hidden;
            }
            &.disable{
                color:#707070;
                p{
                    cursor:not-allowed;
                }
            }
        }
        .input-img{
            position: relative;
            .file{
                position: absolute;
                left: -72px;
                top: 0;
                opacity: 0;
                cursor: pointer;
            }
            input:disabled{
                cursor: not-allowed;
            }
        }
        .img-box{
            display: inline-block;
            width:calc(100% - 86px);
            min-height:90px;
            border:1px solid rgba(218,222,226,1);
            border-radius:4px;
            padding:6px;
            background-color: #fff;

            .image{
                float:left;
                margin-right:20px;
                margin-bottom:6px;
                position: relative;

                .delete{
                    width: 18px;
                    height: 18px;
                    background:url("./imgs/delete.svg") no-repeat center;
                    border-radius:50%;
                    box-shadow:0px 3px 3px rgba(0,0,0,0.2);
                    cursor: pointer;
                    position: absolute;
                    right:-9px;
                    top:-3px;

                    &.disable{
                        cursor: not-allowed;
                    }
                }
            }
            
        }

        textarea{
            resize:none;
            width:calc(100% - 86px);
            height:90px;
            border:1px solid rgba(218,222,226,1);
            border-radius:4px;
            outline: none;
        }
        
        textarea:hover{
            border-color: #40a9ff;
            border-right-width: 1px !important;
        }
        textarea:focus {
        border-color: #40a9ff;
        border-right-width: 1px !important;
        outline: 0;
        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        }
        textarea:disabled{
            background-color: #fff;
            border-color: rgba(218,222,226,1);
        }
    }
}