.sabc{
    width: 100%;
    height: 100%;
    padding: 14px 14px 0;
    .appBtn{
        padding:0 17px;
        height:34px;
        margin-top:10px;
        float: right;
        margin-right:13px;
        cursor:pointer;
        background-color: #2399F1;
        border:none;
        box-shadow:0px 4px 6px rgba(50,50,93,0.11);
        border-radius:4px;
        color:#fff;

    }
    button:disabled{
        /* border:1px solid rgba(217,219,221,1); */
        border:none;
        background: #cdd0cf;
        color:#fff; 
        cursor:not-allowed;
    }
    .addBtn{
        padding:0 17px;
        height:34px;
        cursor:pointer;
        background-color: rgba(45,206,137,1);
        border:none;
        box-shadow:0px 4px 6px rgba(50,50,93,0.11);
        border-radius:4px;
        color:#fff;
    }
    .top{
        height: 354px;
        .checks{
            height:calc(100% - 53px);
        }
        .clearBtn{
            float: right;
            width:56px;
            height:30px;
            line-height: 28px;
            background:rgba(76,171,242,1);
            border:1px solid rgba(42,159,246,1);
            border-radius:4px;
            color:#fff;
            margin-top:9px;
            margin-right:6px;
            cursor: pointer;
        }
        .title{
            background:rgba(246,249,252,1);
            color:#676E7B;
            font-size:16px;
            height: 50px;
            line-height: 50px;
            margin-bottom:0;
            border-bottom:none;
            border-radius:4px 4px 0px 0px;
            padding-left:20px;
            font-weight:600;

        }
        .btnbox{
            height: 56px;
            border:1px solid #E1E4E8;
            padding-right:12px;
            display:flex;
            align-items:center;
            justify-content: flex-end;
            border-radius:0 0 6px 6px;
        }
        .paraTable{
            width: 320px;
            height: 100%;
            background-color: #fff;
            border:1px solid #E1E4E8;
            border-bottom:none;
            display:inline-block;
            vertical-align: top;
        }
        .markList{
            width: calc(100% - 320px);
            height: 100%;
            display:inline-block;
            background-color: #fff;

            .marks{
                height:100% ;
                border:1px solid rgba(218,222,226,1);
            }
            .remark{
                height: 100%;
                width:100%;
    
                textarea{
                    width: 100%;
                    height: 102px;
                    border:1px solid rgba(218,222,226,1);
                    border-radius:4px;
                    resize:none;
                }
            }
        }
    }
    .bottom{
        width: 100%;
        height: 43%;
        margin-top:13px;
        .header{
            height: 54px;
            line-height: 54px;
            color:#434343;
            padding-left:13px;
            font-size:16px;
            border:1px solid rgba(218,222,226,1);
            border-bottom:none;
            border-bottom:none;
            border-radius:6px 6px 0 0;
            font-weight:550;
            margin-bottom:0;
        }

        .btnboxs{
            height: 60px;
            background-color: rgba(239,239,239,1);
            border:1px solid rgba(208,214,219,1);
            border-top:none;
            border-radius:0 0 6px 6px;
        }
    }
}
.state{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #F4BB00;
    border-radius: 50%;
    margin-right: 4px;
    vertical-align: middle;
}
.actionBtn{
    width:44px;
    height:24px;
    background:rgba(242,91,36,1);
    border-radius:4px;
    border:none;
    color:#fff;
    cursor: pointer;
}
.actionBtn:disabled{
    background-color: #CDD0CF;
    color:#fff;
    cursor:not-allowed;
}